body{
    font-family: "Open Sans";
    color :#000;
    overflow-x: hidden;  
}

p{
    line-height: 24px;
    
    
}

a{
    text-decoration: none;
    color: #e00918;
    
    
}

a:hover{
    color: #e00918;
}

sapn{
 color: #e00918;
}

ul{
    padding: 0;
    
}

hr{
  margin: 30px 0;  
    
}

h1,h2,h3,h4{
    text-overflow: ellipsis;
    
}

.button{
background-color:crimson;
    color: azure;
    padding: 17px 25px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid crimson;
    font-size: 12px;
    float:left;
    border-radius: 999px;
}

.button:hover{
    background-color: white;
    border: 2px solid crimson;
    text-decoration:none;
}

/*Header*/
header{
    padding: 30px 0 0 0;
}

.logo{
    max-width: 60%;
}

#menu-toggle{
    position:absolute;
    top: 30%;
    left: 78%;
   
}

#menu-toggle img{
    top: 30%;
    width: 20px;
}

input{
    border: 1px solid #d9dcdf;
    color: azure;
    font-size: 12px;
    padding:17px 25px;
    width: 100%;
    background: url(../images/search.png) #f7f8fa  no-repeat right 35px center;
    background-size: 3%;
    outline: none;    
}

.notifications{
    position: absolute;
    right: 240px;
    top: 20px;
}

.notifications li:hover{
    cursor:pointer;
}
.notifications i {
    color:gainsboro;
    font-size: 20px;
}

.notifications span{
    border-radius:50px;
    background-color:crimson;
    color:white;
    font-weight: 700;
    padding: 4px 9px;
    font-size: 11px;
    position: relative;
    top: -12px;
    left:-12px;
}

.user-info li{
    display: inline-block;
}

.user-info li:nth-child(3){
    float: right;
}

.user-info li:nth-child(3) img{
    float:left;
    margin-right: 20px;
    widows: 60px;
}

.user-info li:nth-child(3) div{
    display:inline-block
}

.user-info li:nth-child(3) p {
    margin: 0;
   
}

.user-info li:nth-child(3) a {
    font-weight: 700;
    color: crimson;
}

.username{
    color: black;
    font-weight: 700;
}

/*Tabs*/
.tabs {
    text-align: center;
    margin: -10px 0;
}

.tabs li{
   display: inline-block;
    text-transform: uppercase;
    color:darkgrey;
    font-weight: 700;
    font-size: 12px;
    margin: 0 20px;
}

.tabs li:hover{
    color: cornflowerblue;
    cursor:pointer;
}

.tabs .active{
    border-bottom: 3px solid crimson;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -11px;
}

.main-videos h2{
    margin:20px 0;
}

.area{
   position: relative;
}

.duration{
    background-color: crimson;
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}

p .view{
   color: #343434; 
}

.videos h2{
    font-weight: 700;
}

.videos h4{
    font-weight: 600;
}

.videos p{
    margin: 0;
    padding: 0;
    color: #757a80;
    line-height: inherit;
}

.area:hover .mask{
    display: block;
    cursor:pointer;
    opacity:100;
}

.vertical-align{
  position:relative;
    top:;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.mask{
    position: absolute;
    background-color: rgba(226,37,37,0,9);
    width: 100%;
    text-align: center;
    opacity: 0;
}

.maks p {
    color: white;
    font-size: 
}

.mask i {
    font-size: 80px;
    color: white;
}